.container {
    text-align: center;
    background: lightgray;
    margin-top: 100px;
}

.main-content {
    margin-top: 20px;
}

.answer-choice {
    padding-top: 30px;
    text-align: center;
}

#timerLooks {
    font-size: 50px;
    padding-left: 10%;
}

#resultsLooks {
    font-size: 50px;
    padding-right: 10%;
}