.container {
    text-align: center;
    background: lightgray;
    opacity: 0.9;
    margin-top: 100px;
    margin: auto;
}

.main-content {
    margin-top: 20px;
}

.answer-choice {
    padding-top: 30px;
    text-align: center;
}

button {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    margin: 20px;
}

button:hover {
    background: blueviolet;
    color: white;
    opacity: 0.5;
  }


body {
    background-image: url();
}

.game-over {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 20px;
}

.words {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 20px;
}

.final-score {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.win {
    font-size: 40px;
    color: blue;
    margin-top: 30px;
}
 .loss, .time-up {
    font-size: 40px;
    color: red;
    margin-top: 30px;
 }

img {
    height: 250px;
}