/* added color to brighten the main section for each page also added depth with shadow*/
.container {
    text-align: center;
    font-size: 35px;
    color: white;
    background: #00CDCD;
    margin-top: 50px;
    padding-bottom: 100px;
    padding-top: 100px;
    box-shadow: grey 0 0 10px 2px;
}

/* added depth with shadow */
button {
    font-size: 25px;
    font-style: italic;
    background-color: lightcyan;
    box-shadow: grey 0 0 6px 2px;
}

.main-content {
    margin-top: 20px;
}

.answer-choice {
    padding-top: 30px;
    text-align: center;
}

/* made the top section stand out from the rest of the main section and made text large to see better */
.nav {
    background-color: lightgrey;
    justify-content: space-between;
    font-size: 50px;
}

.timer {
    margin-left: 30%;
}

.score {
    margin-right: 30%;
}

/* adjusted size for better viewing */
.results {
    font-size: 50px;
}

/* resuts page info */
#myDiv, #username { 
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
}

h1 {
    font-size: 30px;
}

